$dark-theme: (
  bg-main: #1a1a1a,
  bg-secondary: #242424,
  bg-third: #414b58,
  bg-third-hover: #1f5d35,
  bg-4: #00b040,
  bg-4-hover: #00a33a,
  bg-4-active: #008730,
  bg-5: #3a3a3a,
  bg-6: #4a4f54,

  color-txt-main: #f5f5f5,
  color-txt-secondary: #a7b3c2,
  color-txt-secondary-hover: #ffffff,
  color-txt-secondary-active: #e6e6e6,
  color-txt-third: #ffffff,
  color-txt-4: #00b040,
);