$default-theme: (
  bg-main: #ffffff,
  bg-secondary: #f2f4f6,
  bg-third: #738295,
  bg-third-hover: #ccf1d9,
  bg-4: #009e36,
  bg-4-hover: #009532,
  bg-4-active: #007529,
  bg-5: #d9dadd,
  bg-6: #c4cccc,

  color-txt-main: #262626,
  color-txt-secondary: #738295,
  color-txt-secondary-hover: #262626,
  color-txt-secondary-active: #171717,
  color-txt-third: #ffffff,

  color-txt-4: #009e36,
)